body {
  margin: 0px;
  padding: 0px;
  font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', 'Helvetica Neue', 'Helvetica', 'Arial';
}
h2 a {
  text-decoration: none;
  color: #000;
}
.linkbar {
  margin-top: -30px;
  text-align: right;
  padding-right: 20px;
}
.cover img {
  width: 100%;
}
.date-posted {
  margin-bottom: 1.0em;
}
#content {
  width: 100%;
  background-color: #fff;
}
#footer {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}
#footer .socialmedia {
  margin-top: 30px;
}
.readable {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.entry {
  padding-top: 4.0em;
}
.entry img {
  width: 100%;
}
.entry .comments {
  text-align: right;
}
.entry .comments a {
  text-decoration: underline;
}
.menu {
  color: #fff;
}
.movement {
  margin-top: 30px;
  margin-bottom: 100px;
}
.movement a {
  text-decoration: underline;
}
.movement span {
  color: #257;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .cover img {
    width: 100%;
  }
  .readable {
    width: 100%;
  }
  .entry {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    padding-top: 2.0em;
  }
  .entry img {
    width: 100%;
  }
  .linkbar {
    margin-top: 5px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 0px;
  }
  .menu {
    color: #000;
  }
  #disqus_thread {
    padding-left: 10px;
    padding-right: 10px;
  }
}
