---
---

///////////////////////////////
//                           //
//  Hana Seed Church SCSS <3 //
//                           //
///////////////////////////////

@import "variables";
@import "mixins";

body {
  margin: 0px;
  padding: 0px;
  background-color:#fff;
  color: $black;
  font-family: $font-chain;

  background-attachment: fixed;
  background-image: url('../img/front-optimized.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;

  background-size:cover;
  z-index:-1;
  letter-spacing: 0.1px;
}

.logo {
  position: absolute;
  top:300px;
  left:100px;
  z-index:10;
  width:50%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $white;
  opacity: 0.8;
  text-align: right;
  font-size: 15px;

  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    a {
      color: #000;
      text-decoration:none;

      &:hover {
        font-weight: 700;
      }
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 14px;
    }

    .nav-green-item {
      background-color: $hanaseed-green;
      margin-left: 8px;
      a {
        color: $white;
        font-weight: 500;
      }
    }
  }
}

.content {
  padding-bottom:100px;
  margin-top:1000px;
  background-color:#fff;
  @include block-center(100%);
}

.frontimg {
  max-width:100%;
  height:auto;
}

.info {
  background-color:#fff;
  text-align:center;
  padding-top:100px;

  p {
    margin-top:10px;
    font-weight:200;
    line-height: 24px;
    @include block-center(90%);
  }

  dl {
    margin-top:25px;
  }

  h2 {
    font-weight: 200;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1px;
  }

  h3 {
    margin-top:50px;
    font-weight:300;
    margin-bottom:5px;
    color: $hanaseed-green;
  }

  .info-sub-heading {
    font-size: 24px;
  }

  .info-heading-top {
    font-weight: 100;
  }
}

p.profile {
  text-align:center;
  font-weight:200;
  max-width: 450px;
  margin: 15px auto;
}

.contain {
  width:100%;
  overflow:hidden;
}

.values {
  // @include block-center(450px);
  max-width: 500px;
  margin: 0 auto;

  h3 {
    font-size:1.5em;
    margin-top:50px;
  }

  dt {
    font-weight:400;
    font-size:1.2em;
    text-align:left;
    margin-bottom:3px;
  }
  dd {
    font-weight:200;
    text-align:left;
    margin-left:0px;
    margin-bottom:30px;
  }
}

.hanaseed-green {
  color: $hanaseed-green;
}

.worship, .location, .gather, .pastor, .hopeimg {
  margin-top:50px;
  height:auto;
  width:100%;
}

.social-icon-container {
  margin-top: 30px;
}

.social-icon {
  width: 30px;
  display: inline-block;
  padding: 8px 8px 2px 8px;
  opacity: 0.7;

  &:hover {
    background-color: #eeeeee;
    border-radius: 4px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  // shift that is only active for mobile
  .mobile-shift5  { @include shift(-5%);  }
  .mobile-shift10 { @include shift(-10%); }
  .mobile-shift15 { @include shift(-15%); }
  .mobile-shift20 { @include shift(-20%); }

  // mobile images are height first, widht auto
  // as opposed to width 100%, height auto
  .worship  { @include img-auto-adjust(260px); }
  .gather   { @include img-auto-adjust(260px); }
  .pastor   { @include img-auto-adjust(300px); }
  .location { @include img-auto-adjust(300px); }

  // nested to override specifivity
  .nav ul li.nav-mobile-hide {
    display: none;
  }

  .info p {
    font-weight:100;
  }

  .logo {
    top:180px;
    left:50px;
    width: 70%;
  }

  .profile {
    width:90%;
    font-weight:100;
  }

  .hopeimg {
    width:150%;
    margin-left:-25%;
  }

  .values {
    @include block-center(90%);

    h3 {
      font-size:1.5em;
      margin-top:50px;
    }

    dt {
      font-weight:200;
      font-size:1.2em;
      text-align:left;
      margin-bottom:3px;
    }
    dd {
      font-weight:100;
      text-align:left;
      margin-left:0px;
      margin-bottom:30px;
    }
  }

  #nav {
    padding:0;
    margin:0;
    height:30px;
    background-color:#eee;
    opacity:0.7;
  }

  #nav ul {
    margin-top:8px;
    margin-left:0px;
    padding-left:10px;
    margin-right:auto;

    a {
      color:#000;
      text-decoration:none;
    }

    li {
      padding-left:0;
      float:left;
      text-indent:0;
      list-style:none;
      text-align:left;
      font-weight:normal;
      font-size:14px;
    }

    li.verynarrow {
      width:40px;
    }

    li.narrow {
      width:48px;
    }

    li.wide {
      width:70px;
    }
  }

  #blogtab {
    float:right;
    padding:5px 8px 5px 8px;
    background-color:#482;
    a {
      font-size:14px;
      font-weight:300;
      text-decoration:none;
      color:#fff;
    }
  }

}
