@mixin shift($by) {
  margin-left: $by;
}

@mixin img-auto-adjust($height) {
  margin-top:10px;
  width:auto;
  height: $height;
}

@mixin block-center($width) {
  width: $width;
  margin-left:auto;
  margin-right:auto;
}
