$apple-font: 'San Francisco', 'Apple SD Gothic Neo';
$other-font:    'Nanum Gothic';
$fallback-font: 'Helvetica Neue', 'Helvetica', 'Arial';

$font-chain: $apple-font, $other-font, $fallback-font;

$room-normal: 10px;
$room-wide:   50px;

$white: #fff;
$black: #424242;
$hanaseed-green: #482;
$link: #4DD0E1;
