<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Hana Seed Church">
  <meta name="keywords" content="bayarea, church">
  <meta name="repo" content="https://github.com/hanaseed/hanahome">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="alternate" type="application/rss+xml" title="hanaseed blog" href="/blog/feed.xml">

  <style type="text/css">
  @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  </style>

</head>
<body>

<div class="cover"><a href="/blog"><img src="/img/dot.png" id="coverpic"></a></div>

<div class="linkbar">
  <span class="glyphicon glyphicon-home menu"></span> <a href="/" class="menu">교회홈</a>
</div>

<div id="content">
<div class="readable">
  <!-- content begins -->
  {{ content }}
  <!-- content ends -->

  <div id="footer">

    <a href="/"><img src="/img/gray-logo.jpg" style="width:167px;"></a>

    <div class="socialmedia">
      <a href="http://twitter.com/hanaseedchurch"><img src="/img/Twitter_logo_gray.png" style="width:20px;" alt="twitter logo"></a>
      <a href="/blog/feed.xml"><img src="/img/rss-gray.png" style="width:20px;"></a>
    </div>

  </div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script>

  $(document).ready(function() {
    var w = $(window).width();
    var picsource = "/img/fire.jpg";
    if (w <= 480) {
      picsource = "/img/fire-mobile.jpg";
    }
    $('#coverpic').attr('src',picsource);
  });

</script>

</body>
</html>
