<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <meta name="author" content="Hana Seed Church">
  <meta name="keywords" content="bayarea, church">
  <meta name="repo" content="https://github.com/hanaseed/hanahome">
  <title>{{ page.title }}</title>

  <style type="text/css">
  </style>
  <link rel="stylesheet" href="/css/hana.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

  <!-- own carousel stylesheets -->
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/owl.theme.css">

</head>
<body>

<!-- See the source from github.com/hanaseed -->

<div class="nav">
  <ul>
    <li><a href="#service">예배</a></li>
    <li class="nav-mobile-hide"><a href="#logos">말씀</a></li>
    <li><a href="#pastor">목회자</a></li>
    <li class="nav-mobile-hide"><a href="#hope">바라봄</a></li>
    <li class="nav-mobile-hide"><a href="#gather">겨자씨모임</a></li>
    <li><a href="https://instagram.com/hanaseedchurch" target="_blank">갤러리</a></li>
    <li class="nav-blog-item"><a href="https://medium.com/@sssam95" target="_blank">Blog</a></li>
  </ul>
</div>

<!-- content begins -->
{{ content }}
<!-- content ends -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script>
  function isMobile() {
    if( navigator.userAgent.match(/Android/i)
      || navigator.userAgent.match(/webOS/i)
      || navigator.userAgent.match(/iPhone/i)
      || navigator.userAgent.match(/iPad/i)
      || navigator.userAgent.match(/iPod/i)
      || navigator.userAgent.match(/BlackBerry/i)
      || navigator.userAgent.match(/Windows Phone/i)
      || navigator.userAgent.match(/Opera Mini/i)
      || navigator.userAgent.match(/IEMobile/i)
      )
    {
      return true;
    } else {
      return false;
    }
  }

  $(document).ready(function() {
    var h = $(window).height();
    var w = $(window).width();

    var random = function(owlSelector) {
      owlSelector.children().sort(function(){
          return Math.round(Math.random()) - 0.5;
      }).each(function(){
        $(this).appendTo(owlSelector);
      });
    };

    if (isMobile()) {
      var ratio = parseFloat(w) / parseFloat(h);

      $('body').css('background-position', 'top center');

      // depending on the window orientation
      // find different ways to stretch background image
      if (ratio > 3.0/2.0)
      {
        // wide orientation; stretch width, height follows
        $('body').css('background-size', w + 'px auto');
      }
      else
      {
        // vertical orientation; stretch height, width follows
       $('body').css('background-size', 'auto ' + h + 'px');
      }
    }

    // next content to follow should skip over by a screenful
    $('.content').css('margin-top', h + 'px');
    $('.carousel').owlCarousel({
      "navigation": true,
      "singleItem":true,
      "slideSpeed": 300,
      "beforeInit": function(el) {
        random(el);
      }
    });

  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39861013-1', 'hanaseed.org');
  ga('send', 'pageview');

</script>
</body>
</html>
