---
layout: blog
---

<div class="entry">
  <h2>{{ page.title }}</h2>
  <div class="author">
    {{ page.author }}
  </div>
  <div class="date-posted">
    {{ page.date | date: '%B %d, %Y %I:%M %p' }} PST
  </div>
  <div>
    {{ content }}
  </div>

  <div class="movement">
    <div>
    {% if page.next.url %}
      &#10230 <a href="{{page.next.url}}">{{page.next.date | | date: '%B %d, %Y'}} &lt;{{page.next.title}}&gt;</a>
    {% endif %}
    </div>
    <div>
    {% if page.previous.url %}
      &#10229 <a href="{{page.previous.url}}">{{page.previous.date | | date: '%B %d, %Y'}} &lt;{{page.previous.title}}&gt;</a>
    {% endif %}
    </div>
  </div>

</div>
