---
layout: blog
---

<div class="entry">
  <h2>{{ page.title }}</h2>
  <div class="author">
    {{ page.author }}
  </div>
  <div class="date-posted">
    {{ page.date | date: '%B %d, %Y %I:%M %p' }} PST
  </div>
  <div>
    {{ content }}
  </div>

  <div class="movement">
    <div>
    {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.date | | date: '%B %d, %Y'}} &lt;{{page.next.title}}&gt;</a> <span class="glyphicon glyphicon-arrow-right"></span>
    {% endif %}
    </div>
    <div>
    {% if page.previous.url %}
      <span class="glyphicon glyphicon-arrow-left"></span> <a href="{{page.previous.url}}">{{page.previous.date | | date: '%B %d, %Y'}} &lt;{{page.previous.title}}&gt;</a>
    {% endif %}
    </div>
  </div>

</div>

<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = 'hanaseed'; // required: replace example with your forum shortname
    var disqus_identifier = '{{page.url}}';
    var disqus_title = '{{page.title}}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39861013-1', 'hanaseed.org');
  ga('send', 'pageview');
</script>
